@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">No Page found Error:404</h1>
    <p>Looks like you landed on wrong URL <br/><a asp-controller="Home" asp-action="Index">Click Here to go Home</a></p>
</div>
