@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RockStar</h1>
    
    <p><img src="~/images/rockstar.jpeg" class="image" style="width: 800px;height: 500px;"></p>
</div>
